*.cache
*.[oa]
*~
*.bck
*.l[oa]
.deps
.libs
config.guess
config.sub
install-sh
INSTALL
Makefile
Makefile.in
aclocal.m4
avfscoda/Makefile
avfscoda/Makefile.in
avfscoda/redir/Makefile
bzlib/Makefile
bzlib/Makefile.in
compile
config.h.in
config.log
config.status
configure
cscope.files
cscope.out
depcomp
doc/Makefile
doc/Makefile.in
extfs/Makefile
extfs/Makefile.in
extfs/a
extfs/apt
extfs/audio
extfs/deb
extfs/deba
extfs/debd
extfs/dpkg
extfs/hp48
extfs/iso9660
extfs/lslR
extfs/mailfs
extfs/patchfs
extfs/rpms
extfs/u7z
extfs/uace
extfs/uar
extfs/uarj
extfs/uc1541
extfs/uha
extfs/ulha
extfs/upp
extfs/urar
extfs/uxdms
extfs/uxpk
extfs/uzip
extfs/uzoo
fuse/Makefile
fuse/Makefile.in
include/Makefile
include/Makefile.in
include/config.h
include/stamp-h1
lib/Makefile
lib/Makefile.in
libneon/Makefile
libneon/Makefile.in
libneon/hip_xml.loT
libtool
ltmain.sh
macros/Makefile
macros/Makefile.in
macros/libtool.m4
macros/ltoptions.m4
macros/ltsugar.m4
macros/ltversion.m4
macros/lt~obsolete.m4
missing
modules/Makefile
modules/Makefile.in
modules/mod_static.c
patch/Makefile
patch/Makefile.in
preload/Makefile
preload/Makefile.in
scripts/Makefile
scripts/Makefile.in
scripts/avfs-config
scripts/init/Makefile
scripts/init/Makefile.in
spec/Makefile
spec/Makefile.in
src/Makefile
src/Makefile.in
src/info.h
test/Makefile
test/Makefile.in
test/runtest
zlib/Makefile
zlib/Makefile.in
fuse/avfsd
include/version.h
